#nitc {
    background-color:black;
    color:white;
    font-family: Times New Roman;
    padding:5px;
    font-size:30px;
}

#header
{
    text-align:left;
    	margin-left:60px;
}

h1
{
	text-align: center;
	margin-top:5px;
	font-family:Ubuntu;
	color:navy;
	

}

form{
	font-size: 18px;
	margin-top:60px;
       
}

table,td,th{
	border : 1px solid black ;
	
}
th{
	background-color : green ;
	color : white ;
	text-align: center;
	padding:20px;
}
td{
	text-align : center ;
	padding:20px;
	
}

table{
	border-collapse : collapse ;
	width:100%;
}

#pos_fixed {
    position: fixed;
    margin-left:815px;
     margin-top:75px;
    
}
li
{
	
	float:left;
	font-size:18px;
}

body
{
	
	background-image: url('mahesh.jpg');
}




#para {
    background-color: white;
    width: 50%;
    padding: 25px;
    color:black;
    margin: 25px;
    margin-top:60px;
    font-size:20px;
    font-family:Bree Serif;
    font-style:italic;
}

h2{
	text-align:center;
	font-family:Ubuntu;
	color:navy;
}

h3
{
	font-family:Ubuntu;

}

#copyright
{
	background-color: white;
	color:blue;
}

#pos_fixed2 {
    position: fixed;
    margin-left:815px;
     margin-top:60px;
    
}

#accession{
	font-size: 18px;
	margin-top:75px;
	position: fixed;
       
}

#about
{
    
    width: 80%;
    float:left;
    line-height:33px;
    
    margin-top:40px;
    font-size:20px;
    font-family:Ubuntu;
    margin-left:6%;
    background-color:#eeeeee;
    padding:25px;	
}

